# Default ignored files
/shelf/
/workspace.xml

../../../java/database/Jdbc/.idea/sonarlint/

.idea/inspectionProfiles/
.idea/sonarlint/
.idea/checkstyle-idea.xml
.idea/encodings.xml
.idea/jpa-buddy.xml
.idea/misc.xml
idea/uiDesigner.xml
.idea/vcs.xml
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
