<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <welcome-file-list>
        <welcome-file>/WEB-INF/templates/basics/home.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>com.servlet.basics.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.servlet.basicsForwardingServlets.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>goToRegistrationForm</servlet-name>
        <servlet-class>com.servlet.basicsForwardingServlets.ForwardToRegistrationForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sumForm</servlet-name>
        <servlet-class>com.servlet.basicsForwardingServlets.ForwardToSumPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionTrackingServlet</servlet-name>
        <servlet-class>com.servlet.basicsForwardingServlets.ForwardToSessionTrackingOptionsPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>com.servlet.basics.GenericServletProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>third</servlet-name>
        <servlet-class>com.servlet.basics.HttpServletProg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.servlet.concepts.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>com.servlet.concepts.SuccessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>com.servlet.concepts.SumServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>p1</servlet-name>
        <servlet-class>com.servlet.concepts.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>f1</servlet-name>
        <servlet-class>com.servlet.concepts.FinalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeScreen</servlet-name>
        <servlet-class>com.servlet.basicsForwardingServlets.ForwardToHomeScreen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>initialServlet</servlet-name>
        <servlet-class>com.servlet.concepts.sessionTracking.InitialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nextServlet</servlet-name>
        <servlet-class>com.servlet.concepts.sessionTracking.NextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/second</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>third</servlet-name>
        <url-pattern>/third</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>p1</servlet-name>
        <url-pattern>/p1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>f1</servlet-name>
        <url-pattern>/f1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>goToRegistrationForm</servlet-name>
        <url-pattern>/goToRegistrationForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sumForm</servlet-name>
        <url-pattern>/sumForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeScreen</servlet-name>
        <url-pattern>/homeScreen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>initialServlet</servlet-name>
        <url-pattern>/initialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nextServlet</servlet-name>
        <url-pattern>/nextServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sessionTrackingServlet</servlet-name>
        <url-pattern>/sessionTrackingServlet</url-pattern>
    </servlet-mapping>
</web-app>