target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### NetBeans ###
nbproject/private/
build/classes
build/generated
build/reports
build/test-results
build/tmp
nbbuild/
dist/
nbdist/
.nb-gradle/
.gradle/
/logs
### OSX template
.DS_Store
.AppleDouble
.LSOverride

# IntelliJ
/out/

