<!DOCTYPE>
<html lang="en" xml:lang="en">
<head>
    <title>Welcome</title>
</head>
<body>
<h1>Hey there</h1>
<div style="display: block ; direction : column; ">
    <h2>This is home page</h2>
    <div>Click here to go index page
        <form action="index" method="get">
            <button type="submit">Go to index page</button>
        </form>
    </div>
    <div>Click below link to go to sum and product page</div>
    <form action="sumForm" method="post">
        <button type="submit">Go to sum page</button>
    </form>
    <div>Click below link to go to Session tracking methods screen</div>
    <form action="sessionTrackingServlet" method="post">
        <button type="submit">Go to session tracking page</button>
    </form>
    <div>Click below link to go to jsp basic concepts</div>
    <form action="jspbasicServlet" method="post">
        <button type="submit">Go to jsp basics page</button>
    </form>
</div>
</body>
</html>