<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple Number Input Form</title>
</head>
<body>
<h1>Enter Two Numbers</h1>
<form action="s1" method="post">
    <div>
        <label>Number 1:</label>
        <label>
            <input type="text" name="n1" placeholder="Enter num 1"/>
        </label>
    </div>
    <div>
        <label>Number 2:</label>
        <label>
            <input type="text" name="n2" placeholder="Enter num 2"/>
        </label>
    </div>
    <div>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </div>
</form>
<div>Click below button to go back to home screen</div>
<form action="homeScreen" method="post">
    <button type="submit">Go to home page</button>
</form>
</body>
</html>
